<header>
    <nav>
        <h1>
            Café
            <div id="teria">
            Teria
            </div>
        </h1>
        <ul>
            <li><a [routerLink]="'/home'">Café</a></li>
            <li><a routerLink="/menu">Herramientas</a></li>
            <li><a routerLink="/about">Más vendidos</a></li>
            <li><a routerLink="/contact"><i class="fa-solid fa-cart-shopping"></i></a></li>
            <li><a routerLink="/contact"><i class="fa-solid fa-user"></i></a></li>
        </ul>
    </nav>
</header>