<app-header></app-header>
<p-toast />
<br>
<div class="hero">
    <img id="imagen_hero" src="/assets/images/imagen-hero.jpg" alt="cafeteria">
    <div id="texto-hero">
        <h2>Desde 1998</h2>
        <p>brindandote el</p>
        <p>café de cada mañana.</p>
        <button>Encontranos</button>
    </div>
    </div>

<section id="quienes_somos">
<h2>Quienes somos</h2>
<div class="quienes_somos-container">

<p><i class="fa-solid fa-circle-dot"></i>Somos una marca de café que promueve la calidad y la variedad.
    <br>
    <br>
    <i class="fa-solid fa-circle-dot"></i>Queremos que nuestros clientes disfruten de una experiencia única con cada taza de café que ofrecemos.
    <br>
    <br>
    <i class="fa-solid fa-circle-dot"></i>Únete a nuestra comunidad y descubre el mundo del café como nunca antes lo habías hecho.
</p>
<img id="img-cafeteria" src="/assets/images/cafeteria.jpg" alt="cafeteria">
</div>
<button>Unirse</button>
</section>
<br>
<app-footer></app-footer>
<router-outlet></router-outlet>
