<header>
    <nav [class]="{'nav-transparente': transparente}">
        <a (click)="irHacia('/home')">
            <h1>
                Café
                <div id="teria">Teria</div>
            </h1>
        </a>
        <ul>
            @if (userService.esAdmin) {
            <li><a (click)="irHacia('/admin/productos')">Administrar productos</a></li>
            }
            <li><a (click)="irHacia('/signup')">Registrate</a></li>
            <li><a (click)="irHacia('/productos')">Productos</a></li>
            <li><a (click)="irHacia('/carrito')"><i class="fa-solid fa-cart-shopping"></i></a></li>
            <li><a (click)="irHacia('/login')"><i class="fa-solid fa-user"></i></a></li>
        </ul>
    </nav>
</header>