/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Karantina:wght@100;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: 'Kaushan Script', cursive;
    font-size: 3rem;
}
p, a, button{
        font-family: 'Karantina', light;
        font-weight: 100;
}

