<h1>header</h1>
<div class="contenedor-producto">
    @if (producto) {

    <div class="detalle-producto">
        <img [src]="producto.imagen" alt="">
        <div class="datos-producto">
            <h2>{{producto.nombre}}</h2>
            <p class="precio">{{producto.precio | currency}}ARS</p>
        </div>
        <p id="descripcion"><strong>Descripción del producto: </strong> {{producto.descripcion}}</p>
    </div>
    <div class="tarjeta-producto">
        <p>Stock: {{producto.stock}}</p>
        <button (click)="agregarAlCarrito(producto.id)">Agregar al carrito</button>
    </div>

    }
</div>